
.form-item, .form-name, .form, .custom-checkbox {
    background-color: black;
}

.checkbox-block {
    color: white;
}

.container {
    filter: brightness(0.5);
}

.night {
    display: none;
}

.day {
    display: block;
}