.form-item, .form-name, .form, .custom-checkbox {
    background-color: white;
}

.checkbox-block {
    color: black;
}

.container {
    filter: brightness(1);
}

.night {
    display: block;
}

.day {
    display: none;
}